.head-main nav {
  height: 100%;
  list-style: none;
}
.head-main ul {
  height: 100%;
  margin: 0;
  padding: 0;
}
.head-main nav li {
  margin: 0 10px;
  height: 100%;
  display: inline-block;
}
.head-main nav li a {
  color: white;
  text-decoration: none;
  padding: 0 20px;
  height: 100%;
  border-bottom: 4px solid transparent;
  display: flex;
  align-items: center;
}
.head-main nav li a:hover,
.head-main nav li a:active,
.head-main nav li a.active {
  background: #8f5c2c;
  border-bottom: 4px solid #40a4c8;
}
@media screen and (max-width: 425px) {
  .head-main nav li a {
    padding: 0 5px;
  }
}
